.games {
    height: 80vh;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #111111;
}

.explore {
    background-color: rgb(30 138 102);
    position: absolute;
    bottom: 5%;
    left: 4%;
    height: 15%;
    width: 23%;
    text-align: center;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 5px 3px rgb(22, 22, 22);
}

.explore a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    font-weight: bold;
}

.material-symbols-outlined {
    font-size: 2.2vw;
}

.explore:hover {
    background-color: rgba(61, 61, 61, 0.589);

    & a {
        color: rgb(255, 255, 255);
    }
}

.game-gallery {
    position: relative;
    width: 65%;
    height: 66%;
    border-radius: 10px;
    background-image: url('/weather.png');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    animation: gallery 17s linear infinite;
}

@keyframes gallery {
    0% {
        background-image: url('../whackMole/moleSS.png');

    }

    20% {
        background-image: url('../snake/snakeSS.png');
    }

    40% {
        background-image: url('../memory/memorySS.png');
    }

    60% {
        background-image: url('/FlappyBird/flappySS.png');
    }

    80% {

        background-image: url('../wordScramble/wordSS.png');
    }

    100% {
        background-image: url('../tictactoe/ticSS.png');
    }
}